<launch>
  <!-- Parameters -->
  <arg name="record"        default="false"/>
  <arg name="mav_name"      default="aerowake_MIT"/>
  <arg name="sim_param"     default="aerowake_MIT"/>
  <arg name="control_param" default="milestone_2_gains"/>
  <arg name="ekf_param"     default="mit-uav-mocap"/>
  <arg name="motor_param"   default="mit-uav-motor"/>
  <arg name="frame_param"   default="mit-uav-frame"/>
  <arg name="ukf_param"     default="mit-uav-ukf"/>
  <arg name="env_param"     default="no-wind-strong-tether"/>
  <!-- FIRMWARE BRANCH: aerowake-no-rc -->

  <!-- Parameter Files -->
  <arg name="sim_paramfile"     default="$(find aerowake_params)/params/sim/$(arg sim_param).yaml"/>
  <arg name="control_paramfile" default="$(find aerowake_params)/params/controller/$(arg control_param).yaml"/>
  <arg name="ekf_paramfile"     default="$(find aerowake_params)/params/ekf/$(arg ekf_param).yaml"/>
  <arg name="motor_paramfile"   default="$(find aerowake_params)/params/motor/$(arg motor_param).yaml"/>
  <arg name="frame_paramfile"   default="$(find aerowake_params)/params/frame/$(arg frame_param).yaml"/>
  <arg name="ukf_paramfile"     default="$(find aerowake_params)/params/ukf/$(arg ukf_param).yaml"/>
  <arg name="env_paramfile"     default="$(find aerowake_params)/params/env/$(arg env_param).yaml"/>

  <!-- Simulation Environment -->
  <include file="$(find aerowake_sim)/launch/rviz_sim.launch">
    <arg name="mav_name"   value="$(arg mav_name)"/>
    <arg name="param_file" value="$(arg sim_paramfile)"/>
    <arg name="motor_file" value="$(arg motor_paramfile)"/>
    <arg name="frame_file" value="$(arg frame_paramfile)"/>
    <arg name="env_file"   value="$(arg env_paramfile)"/>
    <arg name="auto_imu"   value="true"/>
  </include>

  <!-- FCU communication -->
  <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <param name="udp" value="true"/>
  </node>

  <!-- Estimator -->
  <node name="estimator" pkg="roscopter" type="ekf_node" output="screen">
    <rosparam command="load" file="$(arg ekf_paramfile)"/>
    <remap from="imu" to="imu/data"/>
    <remap from="reference" to="$(arg mav_name)/truth/NED"/>
    <remap from="odom" to="odometry"/>
  </node>

  <!-- Control -->
  <node name="controller" pkg="roscopter" type="controller" output="screen">
    <rosparam command="load" file="$(arg control_paramfile)"/>
    <remap from="estimate" to="odometry"/>
  </node>

  <!-- Motor Speed Calculator -->
  <node name="motor_speed" pkg="aerowake_utils" type="motor_speed_calc.py" output="screen">
    <rosparam command="load" file="$(arg motor_paramfile)"/>
    <remap from="signals" to="output_raw"/>
    <remap from="motor_speeds" to="motor_omegas"/>
  </node>

  <!-- Odometry Transformer -->
  <node name="odometry_transformer" pkg="aerowake_utils" type="odom_ned2nwu.py" output="screen">
    <remap from="input_odom" to="odometry"/>
    <remap from="output_odom" to="odometry_NWU_XAV"/>
  </node>

  <!-- Disturbance Observer -->
  <node name="unscented_kalman_filter_node" pkg="unscented_kalman_filter"
        type="unscented_kalman_filter_node" output="screen">
    <rosparam command="load" file="$(arg ukf_paramfile)"/>
    <rosparam command="load" file="$(arg motor_paramfile)"/>
    <rosparam command="load" file="$(arg frame_paramfile)"/>
    <remap from="odometry" to="odometry_NWU_XAV"/>
    <remap from="motor_speed" to="motor_omegas"/>
    <remap from="external_forces_moments" to="Fext"/>
  </node>

  <!-- Flight GUI for high-level commands and tuning -->
  <include file="$(find aerowake_tuning_gui)/launch/tuning_gui.launch"/>

  <!-- ROSbag recorder -->
  <group if="$(arg record)">
    <node name="recorder" pkg="rosbag" type="record" output="screen"
          args="-o ukf_sim /odometry /$(arg mav_name)/truth/NED /Fext"/>
  </group>

</launch>
