<launch>

  <!-- ====================== PARAMETERS ======================= -->

  <arg name="record"        default="false"/>
  <arg name="bagfile"       default="2020-03-12-12-54-40"/>
  <!-- <arg name="bagfile"       default="2020-03-12-12-57-04"/> -->
  <!-- <arg name="bagfile"       default="2020-03-12-12-59-56"/> -->
  <arg name="bagpath"       default="$(find aerowake_sim)/bags/312_flight_bags/1-freeflights"/>

  <arg name="ukf_param"     default="mit-uav-ukf"/>
  <arg name="frame_param"   default="mit-uav-frame"/>
  <arg name="motor_param"   default="mit-uav-motor"/>

  <!-- =========================================================== -->

  <!-- Parameter Files -->
  <arg name="ukf_paramfile"     default="$(find aerowake_params)/params/ukf/$(arg ukf_param).yaml"/>
  <arg name="motor_paramfile"   default="$(find aerowake_params)/params/motor/$(arg motor_param).yaml"/>
  <arg name="frame_paramfile"   default="$(find aerowake_params)/params/frame/$(arg frame_param).yaml"/>

  <!-- ROSbag player -->
  <node name="player" pkg="rosbag" type="play" output="screen" args="-q --clock $(arg bagpath)/$(arg bagfile).bag"/>

  <!-- Motor Speed Calculator -->
  <node name="motor_speed" pkg="aerowake_utils" type="motor_speed_calc.py" output="screen">
    <rosparam command="load" file="$(arg motor_paramfile)"/>
    <rosparam command="load" file="$(arg frame_paramfile)"/>
    <remap from="signals" to="output_raw"/>
    <remap from="motor_speeds" to="motor_omegas"/>
  </node>

  <!-- Odometry Transformer -->
  <node name="odometry_transformer" pkg="aerowake_utils" type="odom_ned2nwu.py" output="screen">
    <remap from="input_odom" to="odometry"/>
    <remap from="output_odom" to="odometry_NWU_XAV"/>
  </node>

  <!-- Disturbance Observer -->
  <node name="unscented_kalman_filter_node" pkg="unscented_kalman_filter"
        type="unscented_kalman_filter_node" output="screen">
    <rosparam command="load" file="$(arg ukf_paramfile)"/>
    <rosparam command="load" file="$(arg motor_paramfile)"/>
    <rosparam command="load" file="$(arg frame_paramfile)"/>
    <remap from="odometry" to="odometry_NWU_XAV"/>
    <remap from="motor_speed" to="motor_omegas"/>
    <remap from="external_forces_moments" to="Fext_NWU"/>
  </node>

  <!-- Visualizer -->
  <include file="$(find aerowake_sim)/launch/support/rviz_ukf.launch">
    <arg name="odom_topic" value="odometry"/>
    <arg name="fext_topic" value="Fext_NWU"/>
  </include>

  <!-- ROSbag recorder -->
  <group if="$(arg record)">
    <node name="recorder" pkg="rosbag" type="record" output="screen"
          args="-O $(find aerowake_sim)/bags/ukf_bags/$(arg bagfile).bag /odometry /Fext"/>
  </group>

</launch>
