<launch>
  <!-- Parameters -->
  <arg name="mav_name"      default="aerowake_MIT"/>
  <arg name="sim_param"     default="aerowake_MIT"/>
  <arg name="control_param" default="milestone_2_gains"/>
  <arg name="ekf_param"     default="mit-uav-mocap"/>
  <arg name="motor_param"   default="mit-uav-motor"/>
  <arg name="frame_param"   default="mit-uav-frame"/>
  <!-- FIRMWARE BRANCH: aerowake-no-rc -->

  <!-- Parameter Files -->
  <arg name="sim_paramfile"     default="$(find aerowake_params)/params/sim/$(arg sim_param).yaml"/>
  <arg name="control_paramfile" default="$(find aerowake_params)/params/controller/$(arg control_param).yaml"/>
  <arg name="ekf_paramfile"     default="$(find aerowake_params)/params/ekf/$(arg ekf_param).yaml"/>
  <arg name="motor_paramfile"   default="$(find aerowake_params)/params/motor/$(arg motor_param).yaml"/>
  <arg name="frame_paramfile"   default="$(find aerowake_params)/params/frame/$(arg frame_param).yaml"/>

  <!-- Simulation Environment -->
  <include file="$(find aerowake_sim)/launch/gazebo_sim.launch">
    <arg name="mav_name"   value="$(arg mav_name)"/>
    <arg name="param_file" value="$(arg motor_paramfile)"/>
    <arg name="motor_file" value="$(arg motor_paramfile)"/>
    <arg name="frame_file" value="$(arg frame_paramfile)"/>
  </include>

  <!-- FCU communication -->
  <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <param name="udp" value="true"/>
  </node>

  <!-- Estimator -->
  <node name="estimator" pkg="roscopter" type="ekf_node" output="screen">
    <rosparam command="load" file="$(arg ekf_paramfile)"/>
    <remap from="imu" to="imu/data"/>
    <remap from="reference" to="$(arg mav_name)/truth/NED"/>
    <remap from="odom" to="odometry"/>
  </node>

  <!-- Control -->
  <node name="controller" pkg="roscopter" type="controller" output="screen">
    <rosparam command="load" file="$(arg control_paramfile)"/>
    <remap from="estimate" to="odometry"/>
  </node>

  <!-- Flight GUI for high-level commands and tuning -->
  <include file="$(find aerowake_tuning_gui)/launch/tuning_gui.launch"/>

</launch>
