<launch>
  <!-- Parameters -->
  <arg name="mav_name"      default="aerowake_uav"/>
  <arg name="ukf_param"     default="mit-post-ukf"/>
  <arg name="motor_param"   default="mit-uav-motor"/>
  <arg name="frame_param"   default="mit-uav-frame"/>
  <arg name="bagname"       default="tethered_RC_twoflights_2"/>
  <arg name="record"        default="false"/>

  <!-- Parameter Files -->
  <arg name="ukf_paramfile"     default="$(find aerowake_params)/params/ukf/$(arg ukf_param).yaml"/>
  <arg name="motor_paramfile"   default="$(find aerowake_params)/params/motor/$(arg motor_param).yaml"/>
  <arg name="frame_paramfile"   default="$(find aerowake_params)/params/frame/$(arg frame_param).yaml"/>

<!-- ROSbag Player -->
<node pkg="rosbag" type="play" name="player" output="screen"
      args="-q --clock $(find aerowake_sim)/bags/ukf_bags/$(arg bagname).bag"/>

<!-- Motor Speed Calculator -->
<node name="motor_speed" pkg="aerowake_utils" type="motor_speed_calc.py" output="screen">
  <rosparam command="load" file="$(arg frame_paramfile)"/>
  <rosparam command="load" file="$(arg motor_paramfile)"/>
  <remap from="signals" to="output_raw"/>
  <remap from="motor_speeds" to="motor_omegas"/>
</node>

<!-- Odometry Transformer -->
<node name="odometry_transformer" pkg="aerowake_utils" type="odom_ned2nwu.py" output="screen">
  <remap from="input_odom" to="odometry"/>
  <remap from="output_odom" to="odometry_NWU_XAV"/>
</node>

<!-- Disturbance Observer -->
<node name="unscented_kalman_filter_node" pkg="unscented_kalman_filter"
      type="unscented_kalman_filter_node" output="screen">
  <rosparam command="load" file="$(arg ukf_paramfile)"/>
  <rosparam command="load" file="$(arg motor_paramfile)"/>
  <rosparam command="load" file="$(arg frame_paramfile)"/>
  <remap from="odometry" to="odometry_NWU_XAV"/>
  <remap from="motor_speed" to="motor_omegas"/>
  <remap from="external_forces_moments" to="Fext"/>
</node>

<!-- ROSbag Recorder -->
<group if="$(arg record)">
  <node name="recorder" pkg="rosbag" type="record" output="screen"
        args="-o $(find aerowake_sim)/bags/ukf_bags/$(arg bagname)_PROCESSED.bag /ukf_est_odometry /odometry /reference /Fext"/>
</group>

</launch>
